AWS_REGION=us-east-1

COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=

S3_DOCUMENT_BUCKET=
DATABASE_URL=

SNS_DOCUMENT_TOPIC_ARN=
SQS_AI_QUEUE_URL=
SQS_AUDIT_QUEUE_URL=
SQS_NOTIFICATION_QUEUE_URL=

ANTHROPIC_API_KEY=
